<ul class="nav nav-pills">
    <li>
        @Html.ActionLink("Mantenimiento Juegos", "List", "Juego")
    </li>
    <li>
        @Html.ActionLink("Mantenimiento Jugadores", "List", "Jugador")
    </li>
</ul>
