@model Mejenguitas.Domain.Entities.Galeria
@using (Html.BeginForm("Upload", "Galleria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        
    </div>

    <div class="row">
    </div>
}
