@model Mejenguitas.Domain.Entities.Juego
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}
<div>
    @using (Html.BeginForm("Edit", "Juego", FormMethod.Post))
    {
        @Html.EditorForModel()
        <input type="submit" value="Save"  />
    }
</div>
